<div id="context-menu" class="dropdown clearfix animated fast fadeIn">
    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu" ng-show="temps.length">

        <li ng-show="singleSelection() && singleSelection().isFolder() && !isTrashPath()">
            <a href="" tabindex="-1" ng-click="smartClick(singleSelection())">
                <i class="glyphicon glyphicon-folder-open"></i> Open
            </a>
        </li>
        <li ng-show="config.allowedActions.download && !isTrashPath() && !isTrashFolder()">
            <a href="" tabindex="-1" ng-click="modalWithPathSelector('download')">
                <i class="glyphicon glyphicon-arrow-down"></i> Download 
            </a>
        </li>
        <li ng-show="config.allowedActions.move && !isTrashPath() && !isTrashFolder()">
            <a href="" tabindex="-1" ng-click="modalWithPathSelector('move')">
                <i class="glyphicon glyphicon-arrow-right"></i> Move
            </a>
        </li>
        <li ng-show="config.allowedActions.edit && !isTrashPath() && !isTrashFolder()">
            <a href="" tabindex="-1" ng-click="openEditItem()">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
        </li>
        <li ng-show="config.allowedActions.restore && isTrashPath()">
            <a href="" tabindex="-1"  ng-click="modalWithPathSelector('restoreFile')">
                <i class="glyphicon glyphicon-arrow-right"></i> Restore
            </a>
        </li>
        <li class="divider" ng-show="config.allowedActions.remove"></li>
        
        <li ng-show="config.allowedActions.remove && !isTrashFolder()">
            <a href="" tabindex="-1" ng-click="modal('remove')">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </li>
    </ul>
    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu" ng-show="!temps.length && !isTrashPath() ">
        <li ng-show="config.allowedActions.createFolder">
            <a href="" tabindex="-1" ng-click="modal('newfolder') && prepareNewFolder()">
                <i class="glyphicon glyphicon-plus"></i> New folder
            </a>
        </li>
        <li ng-show="config.allowedActions.upload">
            <a href="" tabindex="-1" ng-click="modal('uploadfile')">
                <i class="glyphicon glyphicon-cloud-upload"></i> Upload files
        </li>
    </ul>
</div>