<div class="iconset noselect" style="padding:0px;">
    <nav class="navbar" style="background: #C8C8C8 !important;">
        <div class="container-fluid">
            <div class="row" style="margin: 10px 0px;padding: 0px;">
                <div class="col-sm-9 col-md-8 hidden-xs">
                    Number of Items {{fileNavigator.fileList.length}}
                </div>
                <div class="col-sm-3 col-md-4" >
                    <form >
                        <div class="form-check form-check-inline" style="text-align: right;">
                            <div class="form-group">
                                <div>
                                  <label class="checkbox-inline"  style="color: white;">
                                     <input type="radio" style="left: -5px;opacity: 1;top: -3px;" name="sorting" value="model.attachmentNumber" ng-model="filesSortBy">  # Attachment
                                  </label>
                                  <label class="checkbox-inline"  style="color: white;">
                                    /
                                 </label>
                                  <label class="checkbox-inline"  style="color: white;">
                                     <input type="radio" style="left: -5px;opacity: 1;top: -3px;" name="sorting" value="model.fileName" ng-model="filesSortBy">  # Name 
                                  </label>
                                </div>
                              </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="item-list clearfix" ng-click="selectOrUnselect(null, $event)" ng-right-click="selectOrUnselect(null, $event)" prevent="true">
        <div class="col-120" ng-repeat="item in fileNavigator.fileList | orderBy:filesSortBy" ng-show="!fileNavigator.requesting && !fileNavigator.error">
            <a href="" class="thumbnail text-center"  id="{{item.model.id}}" ngf-drop="moveSelectedFileOrFolder(item, $event);" ng-click="selectOrUnselect(item, $event)" ng-dblclick="smartClick(item)" ng-right-click="selectOrUnselect(item, $event)" title="{{item.model.fileName}} {{item.model.isFile ? '('+(item.model.fileSize | humanReadableFileSize)+')':''}}" ng-class="{selected: isSelected(item)}">
                <div class="item-icon">
                    <i class="glyphicon glyphicon-folder-open" ng-show="!item.model.isFile"></i>
                    <i class="glyphicon glyphicon-file" data-ext="{{ item.model.fileName | fileExtension }}" ng-show="item.model.isFile" ng-class="{'item-extension': config.showExtensionIcons}"></i>
                </div>
                {{item.model.fileName | strLimit : 11 }}
            </a>
        </div>
    </div>

    <div ng-show="fileNavigator.requesting">
        <div ng-include="config.tplPath + '/spinner.html'"></div>
    </div>

    <!-- <div class="alert alert-warning" ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"no_files_in_folder" | translate}}...
    </div> -->
    
    <div class="alert alert-danger" ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>